.user-panel-wrapper {
    display: flex;
    flex-direction: column;
}
.user-panel-wrapper2 {
    display: flex;
    flex-direction: row;
}
.title{
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 2rem;
}
.user-panel-element{
    margin:auto;
    margin-top:20px;
}
.details-form{
	display: flex;
	height: auto;
	flex-direction: column;
	margin: auto;
	margin-top: 10px;
	padding: 15px 20px 15px 20px;
}
.panel-a-button{
	margin: auto;
	max-width: 300px;
	margin-top: 0px;
	margin-bottom: 50px;
}