<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="menu" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="menu-separator-v"></div>
    <div class="menu-element" href="/home">Home</div>
    <div class="menu-separator-v"></div>
    <div class="dropdown" href="/offers">Offers
        <div class="dropdown-content">
            <a href="/offers">Offers</a>
            <a href="/offer_add">Add offer </a>
        </div>
    </div>

    <div class="menu-separator-v"></div>
    <div class="dropdown" href="/clients">Clients
        <div class="dropdown-content">
            <a href="/clients">Clients</a>
            <a href="/client_add">Add client</a>
        </div>
    </div>
    <div class="menu-separator-v"></div>
    <div class="dropdown" href="/user_panel"> User panel
        <div class="dropdown-content">
            <a href="/user_panel">User panel</a>
            <a href="/user_panel_set_details">Set details</a>
            <a href="/user_panel_change_password">Change password</a>
            <a href="/user_panel_delete_account">Delete account</a>
        </div>
    </div>
    <div sec:authorize="hasAuthority('ADMIN')" class="menu-separator-v"></div>
    <div sec:authorize="hasAuthority('ADMIN')" class="menu-element" href="/admin_panel">Admin panel</div>
    <div class="menu-separator-v"></div>
    <form action="/user_logout" method="POST">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <button class="menu-element unstyled-button" type="submit">Logout</button>
    </form>

</div>